<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="../">Choice Coin</a>
      </div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="../"><span></span></a></div>
        <ul class="nav-list">
          <li>
            <a href = '/election/create'>Start Election</a>
            </li>
            <li>
              <a href = "/candidate/create">Add Candidate</a>
            <li>
              <a href="/voter/create">Add Voter</a>
            </li>
            <li>
              <a href = "/elections">Elections</a>
            </li>
            {% if not session.admin %}
            <li>
              <a href = "/admin/register">Register</a>
            </li>
            <li>
              <a href = "/admin/login">Login</a>
            </li>
            {% else %}
            <li>
              <a href = "/admin/logout">Logout</a>
            </li>
            {% endif %}

        </ul>
      </nav>
    </div>
  </section>
